* {
    font-family: var(--body);
    font-size: 1.6rem;
    color: var(--on-surface);
}

html,
body {
    /* Disables pull-to-refresh and overscroll glow effect.
     Still keeps swipe navigations. */
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

.logo {
    font-family: var(--display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--on-surface);
}

h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2.8rem;
    font-weight: bold;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
}

* {
    touch-action: manipulation; // Prevent double-tap zoom on mobile devices
    -webkit-tap-highlight-color: transparent; // Prevent highlight on tap
}

pre {
    border-left: 0.4rem solid orange;
    text-align: left;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: monospace;
    min-height: 3.8rem;
}

i {
    font-size: 1.2rem;
}

:focus {
    outline: none;
}

a {
    display: inline-flex;
    gap: 0.4rem;
    align-items: center;
    text-decoration: none;
    color: var(--on-surface);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-bottom: 0.1rem dashed currentColor;
    font-style: italic;
    width: fit-content;

    * {
        font-size: inherit;
    }

    &:hover {
        color: var(--primary-alt);
    }
}

label {
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-center {
    width: 100%;
    text-align: center;
}

.muted {
    opacity: 0.5;
}

.full-width {
    width: 100%;
}

:not(input) {
    user-select: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    &.wrap {
        flex-wrap: wrap;
    }

    &.spread {
        justify-content: space-between;
        gap: 2rem;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
